@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
}
/* Share Styles */
.main {
  max-width: 1440px;
  margin: 0 auto;
}
section {
  margin-bottom: 130px;
}
.display-flex {
  display: flex;
}
/* Dark-02 */
.text-gray {
  color: #424242;
}
/* Dark-03 */
.text-light-gray {
  color: #727272;
}
.text-primary {
  color: #ff900e;
}
/* Secondary Color */
.bg-light {
  background-color: rgba(255, 144, 14, 0.1);
  padding-bottom: 45px;
  margin-bottom: 85px;
}
/* Button Primary */
.btn-primary {
  width: 180px;
  height: 64px;
  background-color: #ff900e;
  color: white;
  padding: 20px 25px;
  font-size: 1.25rem;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  /* Semi Bold Means = 600 */
}
/* Section Title */
.section-title {
  font-size: 2.8rem;
  font-weight: 700;
}

/* Header Styles */
/* Navbar Related Styles */
.navbar {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 116px !important;
}
.brand {
  font-weight: 700;
  font-size: 3rem;
}
.nav-links {
  gap: 30px;
}
.nav-item {
  list-style: none;
}
.nav-link {
  text-decoration: none;
  font-weight: 500;
}

.navbar,
.banner {
  max-width: 1440px;
  margin: 0 auto;
}

/* Banner Related Styles */
.banner-content {
  max-width: 850px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}
.banner-title {
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 30px;
}
.banner-description {
  font-size: 1rem;
  margin-bottom: 30px;
}
.banner-image {
  width: 100%;
}
/* Teams & Feature Related Styles */
.teams {
  justify-content: center;
  align-items: center;
  gap: 70px;
}
.team-image-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}
.team-image-container img {
  width: 100%;
}
.our-features {
  max-width: 537px;
  flex-direction: column;
  gap: 24px;
}
#quick-list {
  font-weight: 500;
}
.features-description {
  font-size: 1rem;
}

/* Facts Related Styles */
.facts {
  flex-direction: column;
  gap: 100px;
}
.fact-content {
  max-width: 540px;
  flex-direction: column;
  gap: 24px;
}
.facts-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 124px;
  margin: 0 auto;
}
.fact-card {
  width: 240px;
  height: 240px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 1px solid #ff900e;
  border-radius: 8px;
}
.fact-card > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.fact-icon {
  max-width: 45px;
}
.fact-number {
  font-size: 2.8rem;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 5px;
}
.fact-name {
  font-size: 1.125rem;
  font-weight: 600;
}
/* Our Sponsor Related Styles */
.our-sponsors {
  flex-direction: column;
}
.sponsor-info {
  max-width: 540px;
  text-align: center;
  margin: 0 auto auto;
  margin-bottom: 50px;
}
.sponsor-info > h3 {
  margin-bottom: 24px;
}
.sponsor-companies {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-content: center;
  gap: 150px;
  margin: 0 auto;
}
.sponsor-companies img {
  width: 100%;
  filter: grayscale(100%);
}
/* Responsive For Mobile Devices */
@media screen and (max-width: 576px) {
  .navbar,
  .nav-links {
    flex-direction: column;
    gap: 20px;
  }
  .teams {
    flex-direction: column;
    align-items: center;
  }
  .team-image-container {
    grid-template-columns: repeat(1, 1fr);
    gap: 24px;
  }
  .our-features {
    margin: 0 20px;
  }
  .facts-container {
    grid-template-columns: repeat(1, 1fr);
    gap: 50px;
  }
  /* .facts {
  } */
  .fact-content {
    margin: 0 20px;
  }
  .sponsor-companies {
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
    margin: 0 auto;
  }
}

/* Responsive For Medium Device */
@media screen and (min-width: 576px) and (max-width: 992px) {
  .teams {
    flex-direction: column;
  }
  .navbar {
    margin: 0 20px 116px 20px;
  }
  .facts-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
  }
  .fact-content {
    margin: 0 auto;
  }
  .sponsor-companies {
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    margin: 0 auto;
  }
}
